<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Umi</h1>
      <p class="lead">日本語も美しく表示できるBootstrapテーマ</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <aside class="card">
        <h4 class="card-header">游ゴシックの有効・無効切り替え</h4>
        <div class="card-block">
          <p class="card-text">v3.3.5から<code>&lt;body&gt;</code>に<code>.no-thank-yu</code>を指定することで游ゴシックを使わないようにすることができるようになりました。</p>
          <p id="anti-yu-gothic-message" class="card-text">現在デモページは游ゴシックの指定が<span class="text-primary">有効</span>になっています。</p>
          <div class="card-link"><button id="anti-yu-gothic-button" class="btn btn-danger btn-block">游ゴシックを無効にする</button></div>
        </div>
      </aside>
    </div>
  </div>
</div>
